In [36]:
# Load the CSV file
import pandas as pd

# Load the CSV file with a specified encoding
df = pd.read_excel('Online_Retail.xlsx', sheet_name='Online Retail')

# Display the first few rows to confirm it loaded correctly
# df.head()

In [37]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,TotalPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,15.30,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,20.34,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,22.00,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,20.34,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,20.34,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,10.20,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12.60,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,16.60,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,16.60,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,14.85,12680.0,France

In [46]:
# Select only the numeric columns
# Create a copy of the subset and then fill missing values
df_numeric = df[['Quantity', 'UnitPrice', 'TotalPrice']].copy()

# Now fill missing values with the column mean
df_numeric.fillna(df_numeric.mean(), inplace=True)


# Inspect the data to ensure it looks correct
print(df_numeric.head())

   Quantity  UnitPrice  TotalPrice
0         6       2.55       15.30
1         6       3.39       20.34
2         8       2.75       22.00
3         6       3.39       20.34
4         6       3.39       20.34

In [47]:
# Fill missing values with the column mean (or choose another strategy)
# Fill missing values with the column mean (if there are any)
df_numeric.fillna(df_numeric.mean(), inplace=True)

In [53]:
from sklearn.preprocessing import StandardScaler

# Standardize the numeric data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df_numeric)

# Optionally, check the standardized data
print(scaled_data[:5])  # Display the first few rows of scaled data

[[-0.01628867 -0.02130135 -0.00709536]
 [-0.01628867 -0.01262006  0.00620945]
 [-0.00711777 -0.01923438  0.01059159]
 [-0.01628867 -0.01262006  0.00620945]
 [-0.01628867 -0.01262006  0.00620945]]

In [52]:
from sklearn.decomposition import PCA

# Apply PCA to retain 95% of the variance
pca = PCA(n_components=0.95)
pca_data = pca.fit_transform(scaled_data)

# Convert the PCA output into a DataFrame for easier interpretation
pca_df = pd.DataFrame(pca_data, columns=[f'PC{i+1}' for i in range(pca_data.shape[1])])

In [51]:
# Display the PCA-transformed data
print(pca_df)

# Print the explained variance ratio for each principal component
print("Explained variance ratio:", pca.explained_variance_ratio_)
print("Total variance explained:", sum(pca.explained_variance_ratio_))

             PC1       PC2
0      -0.013619 -0.023891
1      -0.005323 -0.015335
2       0.005000 -0.020187
3      -0.005323 -0.015335
4      -0.005323 -0.015335
...          ...       ...
541904 -0.001753 -0.036246
541905 -0.018063 -0.028476
541906 -0.019688 -0.009269
541907 -0.019688 -0.009269
541908 -0.027201 -0.001966

[541909 rows x 2 columns]
Explained variance ratio: [0.63386097 0.33318775]
Total variance explained: 0.9670487169286273